body {
  margin: 0;
}

.box {
  height: 250px;
  border: 1px solid #222;
  border-radius: 10px;
  background-color: #999;
  opacity: 0.5;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  font-size: 30px;
}

.container {
  padding: 0 15px;
}

@media (min-width: 640px) {
  .container {
    padding: 0 30px;
  }
}

@media (min-width: 960px) {
  .container {
    max-width: 1160px;
    margin: 0 auto;
  }
}

.section-top {
  margin-bottom: 40px;
  background-color: black;
  padding-bottom: 50px;
}

.section-stories {
  margin-bottom: 50px;
}

.section-articles {
  margin-bottom: 60px;
}

.section-interview {
  margin-bottom: 60px;
}

.section-lifestyle {
  margin-bottom: 60px;
}

.section-tech {
  margin-bottom: 60px;
}

.l-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.l-header-logo {
  width: 90px;
}

.l-header-menu {
  display: none;
}

.l-header-weather {
  width: 270px;
  display: flex;
}

.l-header-bar {
  width: 70px;
}

@media (min-width: 960px) {
  .l-header {
    gap: 20px;
    margin-bottom: 20px;
  }
  .l-header-menu {
    display: block;
    flex: 1;
  }
  .l-header-bar {
    display: none;
  }
  .l-header-weather {
    width: 270px;
    flex: none;
  }
}
.hmm {
  display: flex;
}

.l-featured {
  margin-bottom: 20px;
  display: flex;
}

.l-subfeatured {
  display: flex;
  gap: 15px;
}

.l-subfeatured-item {
  flex: 1;
}

.l-stories {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 15px;
}

.l-articles {
  display: flex;
}

.l-articles-main {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-right: 70px;
}

.l-articles-side {
  width: 340px;
}

.l-interview {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 15px;
}

.l-interview div:first-child {
  grid-row-start: 1;
  grid-row-end: 3;
}

.l-lifestyle {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 15px;
}

.l-tech {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 15px;
}

.scroll-viewport {
  overflow-x: auto;
}

/* COMIC LAYOUT */

.section-comics {
  margin-bottom: 60px;
}

.l-comic {
  width: 10000px;
  display: flex;
  gap: 15px;
}
/* dddddddddd */
.l-comic > div {
  box-sizing: border-box;
  width: calc(100vw - 30px);
}

@media (min-width: 640px) {
  .l-comic > div {
    width: calc(50vw - 75px / 2);
  }
}

@media (min-width: 1220px) {
  .l-comic > div {
    width: calc((1160px - 15px) / 2);
  }
}

/* END OF COMIC LAYOUT */

/* VIDEOS LAYOUT*/

.section-videos {
  background-color: #000;
  padding: 50px 0;
}

.l-videos {
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;
}

@media (min-width: 640px) {
  .l-videos {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 960px) {
  .l-videos {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

/* END OF VIDEOS LAYOUT*/

/* FOOTER LAYOUT*/

footer {
  background-color: #eee;
  padding: 50px 0;
}

.l-footer-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
  margin-bottom: 50px;
  border-bottom: 1px solid #aaa;
}

.l-footer-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 640px) {
  .l-footer-top {
    flex-direction: row;
    justify-content: space-between;
  }

  .l-footer-bottom {
    flex-direction: row;
    justify-content: space-between;
  }
}

/* END OF FOOTER LAYOUT */
.logotop {
  height: 35px;
  width: 90px;
  float: none;
  margin: 0 15px 0 0;
  padding: 0 40px;
  margin-top: 20px;
}

.search {
  height: 20px;
  width: 20px;
  margin-top: 20px;
}
.htext {
  font-family: Helvetica Neue, sans-serif;
  padding: 0 15px;
  font: 10px;
  border: 1px;
  margin-top: 20px;
  color: white;
  margin-left: 20px;
}
.reddot {
  width: 7px;
  height: 7px;
  margin-top: 25px;
}
.lheader {
  font-family: Helvetica, sans-serif;
  font-size: 13px;
  display: inline-block;
  color: #eee;
  grid-column-start: 1;
  grid-column-end: 3;
  font-display: inline-block;
}
.l-header-weather {
  margin-top: 20px;
  gap: 25px;
}
.black {
  background-color: white;
}
.snow {
  height: 15px;
  width: 15px;
}
.calendar {
  height: 15px;
  width: 15px;
}
.dollar {
  color: #2adb00;
  font-family: Arial, Helvetica, sans-serif;
}
.zuraag {
  margin-right: 0px 0px 0px 30px;
  width: 550px;
  height: 360px;
  border-radius: 10px;
  padding-bottom: 20px;
}
h3 {
  color: whitesmoke;
  margin: 0%;
}
.c1 {
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.za {
  color: white;
  width: 50%;
  font-family: sans-serif;
  font-size: 16px;
}
